# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
ENV/

# VSCode settings
.vscode/
.history/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Excel or batch files
*.xlsx
*.xls
batch_tmp.xlsx
